# Task 1: Data Exploration and Preprocessing

In [59]:
import pandas as pd 
import numpy as np

### 1.Explore the dataset and identify the number of rows and columns.

In [29]:
# Load the dataset
df = pd.read_csv("Dataset .csv")
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [55]:
# To get the number of rows and columns
Num_Rows, Num_Columns = df.shape
print("Number of Rows :",No_Rows)
print("Number of Columns :",No_Columns)

Number of Rows : 9551
Number of Columns : 21

In [9]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

### 2. Check for missing values in each column and handle them accordingly.

In [58]:
# TO check which column has how many missing values !!
missing_values = df.isnull().sum()
missing_values
# Through this we got to know that the cuisines column has 9 missing values

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [32]:
# To know the intial data of cuisines 
s = df["Cuisines"].head()
s

0          French, Japanese, Desserts
1                            Japanese
2    Seafood, Asian, Filipino, Indian
3                     Japanese, Sushi
4                    Japanese, Korean
Name: Cuisines, dtype: object

In [48]:
# There are several v=ways to deal with missing values: Dropping rows, fill Unknown or Unavailable, I choose Imputation with 
# mode of the column which has missing values 
Value_Mode = df["Cuisines"].mode()[0]
Value_Mode
df["Cuisines"] = df["Cuisines"].fillna(Value_Mode)
df.isnull().sum()
# Now we can see no null values present in it, null values from the cuisines column has been handled

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

### 3. Perform data type conversion if necessary. Analyze the distribution of the target variable("Aggregate rating") and identify any class imbalances.

In [40]:
df.dtypes

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

In [50]:
# Counting each rating accordingly of the column Aggregate rating
Count_Rating = df["Aggregate rating"].value_counts().sort_index()
Count_Rating

9551

In [49]:
# Finding the class imbalance by counting rating divide by total count rating 
Class_Imbalance = Count_Rating / Count_Rating.sum()
Class_Imbalance

Aggregate rating
0.0    0.224898
1.8    0.000105
1.9    0.000209
2.0    0.000733
2.1    0.001571
2.2    0.002827
2.3    0.004921
2.4    0.009109
2.5    0.011517
2.6    0.019998
2.7    0.026175
2.8    0.032981
2.9    0.039891
3.0    0.049000
3.1    0.054340
3.2    0.054654
3.3    0.050571
3.4    0.052141
3.5    0.050257
3.6    0.047953
3.7    0.044707
3.8    0.041880
3.9    0.035075
4.0    0.027850
4.1    0.028688
4.2    0.023139
4.3    0.018218
4.4    0.015077
4.5    0.009947
4.6    0.008167
4.7    0.004397
4.8    0.002618
4.9    0.006387
Name: count, dtype: float64

### Conclusion

In [60]:
# 1 The Dataset consists of 9551 data of rows and 21 of columns
# 2 There are only 9 null values present in the dataset which is present in the Cuisines column and no DUplicates are there
# 3 DataType conversion is required in the dataset
# 4 So the conclusion of class Imbalance is : middle rating (3.0 to 3.9) which has not much higher proportions compared to 
#   extreme rating (4.5 to 4.9). So we can say that the target variable = "Aggregate rating" is balanced. 
# Thankyou